<%= form_with(model: home_box) do |form| %>
  <% if home_box.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(home_box.errors.count, "error") %> prohibited this home_box from being saved:</h2>

      <ul>
        <% home_box.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :title_ar, style: "display: block" %>
    <%= form.text_field :title_ar %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :description_ar, style: "display: block" %>
    <%= form.text_area :description_ar %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
