<div id="<%= dom_id legal_notice %>">
  <p>
    <strong>Title:</strong>
    <%= legal_notice.title %>
  </p>

  <p>
    <strong>Title ar:</strong>
    <%= legal_notice.title_ar %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= legal_notice.content %>
  </p>

  <p>
    <strong>Content ar:</strong>
    <%= legal_notice.content_ar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= legal_notice.user_id %>
  </p>

</div>
