<div id="<%= dom_id term %>">
  <p>
    <strong>Title:</strong>
    <%= term.title %>
  </p>

  <p>
    <strong>Title ar:</strong>
    <%= term.title_ar %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= term.content %>
  </p>

  <p>
    <strong>Content ar:</strong>
    <%= term.content_ar %>
  </p>

  
  <p>
    <strong>User:</strong>
    <%= term.user_id %>
  </p>

</div>
