<div id="<%= dom_id information %>">
  <p>
    <strong>Name:</strong>
    <%= information.name %>
  </p>

  <p>
    <strong>Name ar:</strong>
    <%= information.name_ar %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= information.title %>
  </p>

  <p>
    <strong>Title ar:</strong>
    <%= information.title_ar %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= information.description %>
  </p>

  <p>
    <strong>Description ar:</strong>
    <%= information.description_ar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= information.user_id %>
  </p>

  
  <p>
    <strong>Organization</strong>
    <ul>
      <% information.organizations.each do |organization| %>
        <li>
            <p>
              <strong>Url:</strong>
              <%= organization.url %>
            </p>

            <p>
              <strong>Title:</strong>
              <%= organization.title %>
            </p>

            <p>
              <strong>Image:</strong>
              <% if organization.image.attached? %>
                <%= image_tag  organization.image %>
              <% end %>
            </p>
        </li>
      <% end %>
    </ul>
    
  </p>


</div>
