<div id="<%= dom_id information %>">
  <p>
    <strong>Name:</strong>
    <%= information.name %>
  </p>

  <p>
    <strong>Name ar:</strong>
    <%= information.name_ar %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= information.title %>
  </p>

  <p>
    <strong>Title ar:</strong>
    <%= information.title_ar %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= information.description %>
  </p>

  <p>
    <strong>Description ar:</strong>
    <%= information.description_ar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= information.user_id %>
  </p>

</div>
