<div id="<%= dom_id home_site %>">
<p>
  <strong>Title:</strong>
  <%= home_site.title %>
</p>

<p>
  <strong>Title_ar:</strong>
  <%= home_site.title_ar %>
</p>

  <p>
    <strong>User:</strong>
    <%= home_site.user_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag home_site.image %>
  </p>
</div>
