<div id="<%= dom_id history %>">
  <p>
    <strong>Year:</strong>
    <%= history.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= history.description %>
  </p>

  <p>
    <strong>Description Ar:</strong>
    <%= history.description_ar %>
  </p>

  <p>
    <strong>About:</strong>
    <%= history.about_id %>
  </p>

</div>
