
<footer>
    <div class="flex flex-col justify-center mx-auto bg-cover bg-center bg-local shadow-lg" style="background-image: url('<%= asset_path('hard-working-businessmen.jpg') %>');">
        <div class="mt-20 p-4 sm:p-8 trix-parent">
                  <a href="<%= root_path %>" class="flex items-center justify-center">
                    <% if Logo.first.image.attached? %>
                      <%= image_tag  Logo.first.image, alt: 'logo', class: "w-44 lg:w-64 h-20 lg:h-20" %>
                    <% end %>                      
                  </a>
                  <% logo = Logo.first %>
          <p class="mt-4 font-serif text-base italic leading-7 text-white text-center">
            <%= localized_attribute(logo, :description) %>
          </p>
        </div>
    </div>
    <div class="bg-black flex flex-col md:flex-row justify-between px-2 md:px-20 py-3 items-center">
        <div class="flex gap-2">
            <p class="text-white">© 2024 GMR</p>
            <a href="<%= legal_notice_static_path %>" class="text-white hover:text-[#3535ff]"><%= t("leagal_notice") %></a>
            <a href="<%= terms_and_conditions_path %>" class="text-white hover:text-[#3535ff]"><%= t("privacy_policy") %></a>
            <a href="<%= privacy_static_path %>" class="text-white hover:text-[#3535ff]"><%= t("terms_of_use") %></a>
        </div>
        <div class="flex gap-2">
            <% social = Social.first %>
            <% if social.x.include?('http://') || social.x.include?('https://') %>
              <a href="<%= social.x %>">
            <% else %>
              <a href="http://<%= social.x %>">
            <% end %>
                <%= image_tag('x.svg', alt: 'x', class: "w-3 h-3") %>
            </a>
            <% if social.faacebook.include?('http://') || social.faacebook.include?('https://') %>
              <a href="<%= social.faacebook %>">
            <% else %>
              <a href="http://<%= social.faacebook %>">
            <% end %>
                <%= image_tag('facebook.svg', alt: 'facebook', class: "w-3 h-3") %>
            </a>
            <% if social.instgram.include?('http://') || social.instgram.include?('https://') %>
              <a href="<%= social.instgram %>">
            <% else %>
              <a href="http://<%= social.instgram %>">
            <% end %>            
                <%= image_tag('instagram.svg', alt: 'instagram', class: "w-3 h-3") %>
            </a>
            <% if social.linkind.include?('http://') || social.linkind.include?('https://') %>
              <a href="<%= social.linkind %>">
            <% else %>
              <a href="http://<%= social.linkind %>">
            <% end %>                      
                <%= image_tag('linkedin.svg', alt: 'linkedin', class: "w-3 h-3") %>
            </a>
        </div>
    </div>
</footer>
<script>
    // Wait for the DOM content to be fully loaded
document.addEventListener("DOMContentLoaded", function() {
    // Get all elements with class "trix-content"
    const trixContents = document.querySelectorAll('.trix-content');

    // Loop through each trix-content element
    trixContents.forEach(function(trixContent) {
        // Check if the parent element has the specified classes
        const parentElement = trixContent.closest('.trix-parent');

        // If the parent element exists, add the "text-center" class to the trix-content element
        if (parentElement) {
            trixContent.classList.add('text-center');
            trixContent.classList.add('text-white');
        }
    });
});

</script>