<%= render 'dash_header' %>
<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 flex flex-col border-gray-200 border-dashed rounded-lg dark:border-gray-700">

        <h1 class="text-lg md:text-4xl my-3 font-bold text-black">Privacy page:</h1>
        <%= link_to "Change video", general_pages_path, class: "text-white w-fit bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
   
        <h1 class="text-lg md:text-4xl my-3 font-bold text-black">Legal notice page:</h1>
        <%= link_to "Change video", general_pages_path, class: "text-white w-fit bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
   
        <h1 class="text-lg md:text-4xl my-3 font-bold text-black">Terms page:</h1>
        <%= link_to "Change video", general_pages_path, class: "text-white w-fit bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
   
        <h1 class="text-lg md:text-4xl my-3 font-bold text-black">About page:</h1>
        <%= link_to "Change video", general_pages_path, class: "text-white w-fit bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
   
        <h1 class="text-lg md:text-4xl my-3 font-bold text-black">Contact page:</h1>
        <%= link_to "Change video", general_pages_path, class: "text-white w-fit bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
   
   </div>
</div>