<div id="<%= dom_id contact %>">
  <p>
    <strong>Title:</strong>
    <%= contact.title %>
  </p>

  <p>
    <strong>Title Ar:</strong>
    <%= contact.title_ar %>
  <p>

  <p>
    <strong>Content:</strong>
    <%= contact.content %>
  </p>

  <p>
    <strong>Content Ar:</strong>
    <%= contact.content_ar %>
  </p>

  <p>
    <strong>Image1:</strong>
      <% if contact.image1.attached? %>
        <%= image_tag  contact.image1 %>
      <% end %>
  </p>

  <p>
    <strong>Name1:</strong>
    <%= contact.name1 %>
  </p>

  <p>
    <strong>Name1 Ar:</strong>
    <%= contact.name1_ar %>
  </p>

  <p>
    <strong>Position1:</strong>
    <%= contact.position1 %>
  </p>

  <p>
    <strong>Position1 Ar:</strong>
    <%= contact.position1_ar %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= contact.phone1 %>
  </p>

  <p>
    <strong>Email1:</strong>
    <%= contact.email1 %>
  </p>

  <p>
    <strong>Language1:</strong>
    <%= contact.language1 %>
  </p>

  <p>
    <strong>Statement1:</strong>
    <%= contact.statement1 %>
  </p>

  <p>
    <strong>Statement1 Ar:</strong>
    <%= contact.statement1_ar %>
  </p>

  <p>
    <strong>Image2:</strong>
      <% if contact.image2.attached? %>
        <%= image_tag  contact.image2 %>
      <% end %>
  </p>
  <p>
    <strong>Name2</strong>
    <%= contact.name2 %>
  </p>

  <p>
    <strong>Name2 Ar:</strong>
    <%= contact.name2_ar %>
  </p>

  <p>
    <strong>Position2:</strong>
    <%= contact.position2 %>
  </p>

  <p>
    <strong>Position2 Ar:</strong>
    <%= contact.position2_ar %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= contact.phone2 %>
  </p>

  <p>
    <strong>Email2:</strong>
    <%= contact.email2 %>
  </p>

  <p>
    <strong>Language2:</strong>
    <%= contact.language2 %>
  </p>

  <p>
    <strong>Statement2:</strong>
    <%= contact.statement2 %>
  </p>

  <p>
    <strong>Statement2 Ar:</strong>
    <%= contact.statement2_ar %>
  </p>

    <strong>User:</strong>
    <%= contact.user_id %>
  </p>

  <p>
    <strong>Employees</strong>
    <ul>
      <% contact.employees.each do |employee| %>
        <li>
            <p>
              <strong>Name:</strong>
              <%= employee.name %>
            </p>

            <p>
              <strong>Name Ar:</strong>
              <%= employee.name_ar %>
            </p>

            <p>
              <strong>Position:</strong>
              <%= employee.position %>
            </p>

            <p>
              <strong>Position Ar:</strong>
              <%= employee.position_ar %>
            </p>

            <p>
              <strong>Phone:</strong>
              <%= employee.phone %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= employee.email %>
            </p>

            <p>
              <strong>Language:</strong>
              <%= employee.language %>
            </p>

            <p>
              <strong>Statement:</strong>
              <%= employee.statement %>
            </p>

            <p>
              <strong>Statement Ar:</strong>
              <%= employee.statement_ar %>
            </p>

            <% if employee.image.attached? %>
              <%= image_tag  employee.image %>
            <% end %>
        </li>
      <% end %>
    </ul>
    
  </p>

</div>
