<div id="<%= dom_id contact %>">
  <p>
    <strong>Title:</strong>
    <%= contact.title %>
  </p>

  <p>
    <strong>Title Ar:</strong>
    <%= contact.title_ar %>
  <p>

  <p>
    <strong>Content:</strong>
    <%= contact.content %>
  </p>

  <p>
    <strong>Content Ar:</strong>
    <%= contact.content_ar %>
  </p>

    <strong>User:</strong>
    <%= contact.user_id %>
  </p>

</div>
