<%= render 'static_public/dash_header' %>
<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 flex flex-col border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <%= form_with(model: contact, url: contact.persisted? ? contact_path(locale: I18n.locale, id: contact.id) : contacts_path(locale: I18n.locale), data: {
      controller: "nested-form",
      nested_form_wrapper_selector_value: '.nested-form-wrapper'
    }) do |form| %>
      <% if contact.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
    
          <ul>
            <% contact.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, required: true %>
      </div>
    
      <div>
        <%= form.label :title_ar, style: "display: block" %>
        <%= form.text_field :title_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :content, style: "display: block" %>
        <%= form.rich_text_area :content, required: true %>
      </div>
    
      <div>
        <%= form.label :content_ar, style: "display: block" %>
        <%= form.rich_text_area :content_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :image1, style: "display: block" %>
        <%= form.file_field :image1, required: true %>
      </div>
    
      <div>
        <%= form.label :name1, style: "display: block" %>
        <%= form.text_field :name1, required: true %>
      </div>
    
      <div>
        <%= form.label :name1_ar, style: "display: block" %>
        <%= form.text_field :name1_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :position1, style: "display: block" %>
        <%= form.text_field :position1, required: true %>
      </div>
    
      <div>
        <%= form.label :position1_ar, style: "display: block" %>
        <%= form.text_field :position1_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :phone1, style: "display: block" %>
        <%= form.text_field :phone1, required: true %>
      </div>
    
      
      <div>
        <%= form.label :email1, style: "display: block" %>
        <%= form.text_field :email1, required: true %>
      </div>
      
      <div>
        <%= form.label :language1, style: "display: block" %>
        <%= form.text_field :language1, required: true %>
      </div>
      
      <div>
        <%= form.label :statement1, style: "display: block" %>
        <%= form.text_field :statement1, required: true %>
      </div>
    
      <div>
        <%= form.label :statement1_ar, style: "display: block" %>
        <%= form.text_field :statement1_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :image2, style: "display: block" %>
        <%= form.file_field :image2, required: true %>
      </div>
    
    
      <div>
        <%= form.label :name2, style: "display: block" %>
        <%= form.text_field :name2, required: true %>
      </div>
    
      <div>
        <%= form.label :name2_ar, style: "display: block" %>
        <%= form.text_field :name2_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :position2, style: "display: block" %>
        <%= form.text_field :position2, required: true %>
      </div>
    
      <div>
        <%= form.label :position2_ar, style: "display: block" %>
        <%= form.text_field :position2_ar, required: true %>
      </div>
    
      <div>
        <%= form.label :phone2, style: "display: block" %>
        <%= form.text_field :phone2, required: true %>
      </div>
    
    
      <div>
        <%= form.label :email2, style: "display: block" %>
        <%= form.text_field :email2, required: true %>
      </div>
    
      <div>
        <%= form.label :language2, style: "display: block" %>
        <%= form.text_field :language2, required: true %>
      </div>
    
      <div>
        <%= form.label :statement2, style: "display: block" %>
        <%= form.text_field :statement2, required: true %>
      </div>
    
      <div>
        <%= form.label :statement2_ar, style: "display: block" %>
        <%= form.text_field :statement2_ar, required: true %>
      </div>
    
    
      <h1 class="text-lg md:text-4xl my-3 font-bold text-black">Sales section:</h1>

      <%#   start custum logic here %>
      <template data-nested-form-target="template">
        <%= form.fields_for :employees, Employee.new, child_index: "NEW_RECORD" do |employee_fields| %>
          <%= render 'contacts/contact_employee_form', f: employee_fields %>
        <% end %>
      </template>
    
      <%= form.fields_for :employees do |employee_fields| %>
        <hr>
        <%= render 'contacts/contact_employee_form', f: employee_fields %>
        <hr>
      <% end %>
    
    
      <!-- Inserted elements will be injected before that target. -->
      <div data-nested-form-target="target"></div>
    
      <button type="button" data-action="nested-form#add">Add Employee</button>
    
      <%# end custom logic %>
    
    
    
      <%= form.hidden_field :user_id, value: current_user.id %>
    
      <div>
        <%= form.submit %>
      </div>
    <% end %>
   </div>
</div>
