<div id="<%= dom_id privacy %>">
  <p>
    <strong>Title:</strong>
    <%= privacy.title %>
  </p>

  <p>
    <strong>Title ar:</strong>
    <%= privacy.title_ar %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= privacy.content %>
  </p>

  <p>
    <strong>Content ar:</strong>
    <%= privacy.content_ar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= privacy.user_id %>
  </p>

</div>
