<div id="<%= dom_id about %>">
  <p>
    <strong>Title:</strong>
    <%= about.title %>
  </p>


  <p>
    <strong>Title_ar:</strong>
    <%= about.title_ar %>
  </p>
  
  <p>
    <strong>Content:</strong>
    <%= about.content %>
  </p>

  <p>
    <strong>Content_ar:</strong>
    <%= about.content_ar %>
  </p>
  
  <p>
    <strong>Content_2:</strong>
    <%= about.content_2 %>
  </p>

  <p>
    <strong>Content_ar_2:</strong>
    <%= about.content_ar_2 %>
  </p>

  <p>
    <strong>founder_title:</strong>
    <%= about.founder_title %>
  </p>

  <p>
    <strong>founder_title_ar:</strong>
    <%= about.founder_title_ar %>
  </p>

  <p>
    <strong>founder_description:</strong>
    <%= about.founder_description %>
  </p>

  <p>
    <strong>founder_description_ar:</strong>
    <%= about.founder_description_ar %> 
  </p>

  <p>
    <strong>founder_image:</strong>
    <%= image_tag  about.founder_image %>
  </p>

  <p>
    <strong>image:</strong>
    <%= image_tag  about.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= about.user_id %>
  </p>

</div>
