<%= form_with(model: logo) do |form| %>
  <% if logo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(logo.errors.count, "error") %> prohibited this logo from being saved:</h2>

      <ul>
        <% logo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, accept: 'image/png,image/jpeg,image/jpg' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
