<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Title ar:</strong>
    <%= product.title_ar %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Description ar:</strong>
    <%= product.description_ar %>
  </p>

  <p>
    <strong>Image title:</strong>
    <%= product.image_title %>
  </p>

  <p>
    <strong>Image title ar:</strong>
    <%= product.image_title_ar %>
  </p>

  <p>
    <strong>Image description:</strong>
    <%= product.image_description %>
  </p>

  <p>
    <strong>Image description ar:</strong>
    <%= product.image_description_ar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

  <p>
    <strong>Images:</strong>
    <ul>
      <% if product.images.attached? %>
        <% product.images.each do |image| %>
          <li>
            <div id="<%= dom_id image %>">
                <%= image_tag  image %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  <p>
    <strong>Features:</strong>
    <ul>
      <% product.features.each do |feature| %>
        <li>
          <div id="<%= dom_id feature %>">
            <p>
              <strong>Content:</strong>
              <%= feature.content %>
            </p>

            <p>
              <strong>Content ar:</strong>
              <%= feature.content_ar %>
            </p>

            <% if feature.image.attached? %>
              <%= image_tag  feature.image %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </p>

</div>
