<%= render 'static_public/dash_header' %>
<div class="p-4 sm:ml-64 bg-white text-black h-screen">
   <div class="p-4 border-2 flex flex-col border-gray-200 border-dashed rounded-lg dark:border-gray-700">

    <%= form_with(model: social, url: social.persisted? ? social_path(locale: I18n.locale, id: social.id) : socials_path(locale: I18n.locale)) do |form| %>
      <% if social.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(social.errors.count, "error") %> prohibited this social from being saved:</h2>
    
          <ul>
            <% social.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div>
        <%= form.label :linkind, style: "display: block" %>
        <%= form.text_field :linkind, required: true %>
      </div>
    
      <div>
        <%= form.label :instgram, style: "display: block" %>
        <%= form.text_field :instgram, required: true %>
      </div>
    
      <div>
        <%= form.label :x, style: "display: block" %>
        <%= form.text_field :x, required: true %>
      </div>
    
      <div>
        <%= form.label :faacebook, style: "display: block" %>
        <%= form.text_field :faacebook, required: true %>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>

    
      <div>
        <%= form.submit %>
      </div>
    <% end %>

   </div>
</div>
    
    