<div id="<%= dom_id social %>">
  <p>
    <strong>Linkind:</strong>
    <%= social.linkind %>
  </p>

  <p>
    <strong>Instgram:</strong>
    <%= social.instgram %>
  </p>

  <p>
    <strong>X:</strong>
    <%= social.x %>
  </p>

  <p>
    <strong>Faacebook:</strong>
    <%= social.faacebook %>
  </p>

  <p>
    <strong>User:</strong>
    <%= social.user_id %>
  </p>

</div>
