<%= render 'static_public/dash_header' %>

<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 flex flex-col border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div id="<%= dom_id highlight %>">
      <p>
        <strong>Content:</strong>
        <%= highlight.content %>
      </p>
    
      <p>
        <strong>Content ar:</strong>
        <%= highlight.content_ar %>
      </p>
    
      
      <% if highlight.image.attached? %>
        <%= image_tag  highlight.image %>
      <% end %>
    
    </div>
    <%= button_to "Destroy this highlight", @highlight, method: :delete, class: "text-red-700" %>

  </div>
</div>
    