<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale == :ar ? 'rtl' : 'ltr' %>">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-visit-control" content="reload"> <!-- fix JS issues -->
    <%= display_meta_tags site: "GMR",
      title: "GMR",
      description: "GMR Recycling specializes in recycling and metal recovery. At GMR, we 
        strive to achieve the highest standards in preserving the environment and natural resources. 
        We are also keen to use the latest clean technology in order to recover metals and raise 
        awareness about the importance of recovering metals in a correct and environmentally friendly 
        manner. We also explain to you the company’s most important activities and its products of 
        recovered metals. We thank you for visiting our website and learning more about the 
        importance of recycling lead-acid batteries and recovering metals.
        ",
      keywords: "GMR, Recycling, Metal Recovery, Environment, Natural Resources, Clean Technology",
      icon: [
        { href: image_url('logo.png') },
        { href: image_url('logo.png'), rel: 'apple-touch-icon', sizes: '180x180' }
      ],
      image: image_url('logo.png'),
      og: {
        title: :title,
        description: :description,
        type: 'website',
        url: 'https://www.gmr-recycling.com',
        image: image_url('logo.png'),
      }
    %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2P20E8QH7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-V2P20E8QH7');
    </script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <script async>
    // JavaScript to add classes to submit buttons
    window.addEventListener('DOMContentLoaded', function() {
        // Get all submit buttons
        var submitButtons = document.querySelectorAll('input[type="submit"]');
        var deleteButtons = document.querySelectorAll('button[type="submit"]');
        
        // Loop through each submit button and add the custom classes
        submitButtons.forEach(function(button) {
            // Add your custom classes to each button
            button.classList.add(
                'text-white', 
                'bg-blue-700', 
                'hover:bg-blue-800', 
                'focus:ring-4', 
                'focus:ring-blue-300', 
                'font-medium', 
                'rounded-lg', 
                'text-sm', 
                'px-5', 
                'py-2.5', 
                'me-2', 
                'mb-2', 
                'dark:bg-blue-600', 
                'dark:hover:bg-blue-700', 
                'focus:outline-none', 
                'dark:focus:ring-blue-800',
                'cursor-pointer',
                'my-5'
            );
        });        deleteButtons.forEach(function(button) {
            // Add your custom classes to each button
            button.classList.add(
                'text-white', 
                'bg-red-700', 
                'hover:bg-red-800', 
                'focus:ring-4', 
                'focus:ring-red-300', 
                'font-medium', 
                'rounded-lg', 
                'text-sm', 
                'px-5', 
                'py-2.5', 
                'me-2', 
                'mb-2', 
                'dark:bg-red-600', 
                'dark:hover:bg-red-700', 
                'focus:outline-none', 
                'dark:focus:ring-red-800',
                'cursor-pointer',
                'my-5'
            );
        });
    });
    </script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script>
      document.addEventListener("turbo:load", function() {
          const trixContents = document.querySelectorAll('.trix-content');
          trixContents.forEach(function(trixContent) {
              const parentElement = trixContent.closest('.trix-parent');
              if (parentElement) {
                  trixContent.classList.add('text-center');
                  trixContent.classList.add('text-white');
              }
          });
      });
    </script>
    <!-- Your JavaScript code -->
    <script>
      function switchToArabic() {
        document.documentElement.lang = 'ar';
        document.documentElement.dir = 'rtl';
      }
    
      function switchToEnglish() {
        document.documentElement.lang = 'en';
        document.documentElement.dir = 'ltr';
      }
    </script>
  </body>
</html>
